<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,245},{46,39}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{46,39}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,293},{50,27}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,59},{50,27}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,206},{56,37}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{56,37}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,104},{100,61}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,61}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,256},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>cardAni_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,100}}</string>
                <key>sourceSize</key>
                <string>{233,100}</string>
            </dict>
            <key>cardAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{89,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,260}}</string>
                <key>sourceSize</key>
                <string>{89,260}</string>
            </dict>
            <key>cardAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,104},{150,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,71}}</string>
                <key>sourceSize</key>
                <string>{150,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{237,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:981a8d9b22150307897ab0bb4c088e4e:1/1$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
