<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,161},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,217}}</string>
                <key>sourceSize</key>
                <string>{300,217}</string>
            </dict>
            <key>setting_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,113},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>setting_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,79},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>setting_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,193},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>setting_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,151},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>setting_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,37},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>setting_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,151},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>setting_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,75},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>setting_mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,37},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>setting_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{492,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea09c970c6f0dd5de1b3ad0dd38e935:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
