<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,477},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>char_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,432},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>char_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,400},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>char_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,444},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>char_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,368},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>char_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>char_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,435},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>char_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,266},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>char_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,361},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>char_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,412},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>char_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,289},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>char_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,310},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>menu_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{132,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,68}}</string>
                <key>sourceSize</key>
                <string>{132,68}</string>
            </dict>
            <key>menu_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,179},{132,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,68}}</string>
                <key>sourceSize</key>
                <string>{132,68}</string>
            </dict>
            <key>naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,298},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>sTips_daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,387},{54,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>sTips_jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>sTips_pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,444},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>show_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,275},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>show_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,444},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>show_char0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>show_char1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>show_char2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,329},{94,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,37}}</string>
                <key>sourceSize</key>
                <string>{94,37}</string>
            </dict>
            <key>show_char3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,289},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>show_char4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>show_char5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,249},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>show_char6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>show_char7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>show_duanline.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,368},{70,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,42}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
            <key>show_rob0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,382},{51,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>show_rob1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,432},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>show_rob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,444},{43,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>show_role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>show_role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>show_role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{88,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,140}}</string>
                <key>sourceSize</key>
                <string>{88,140}</string>
            </dict>
            <key>show_role4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,92},{85,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,140}}</string>
                <key>sourceSize</key>
                <string>{85,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>show.png</string>
            <key>size</key>
            <string>{332,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cdc404667671d12e6dbc41296faba63:1/1$</string>
            <key>textureFileName</key>
            <string>show.png</string>
        </dict>
    </dict>
</plist>
