<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectPane.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,440},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>selectPot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,446},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>selectPot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,446},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>sroom_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>sroom_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>sroom_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>sroom_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>uiroom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{225,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,20}}</string>
                <key>sourceSize</key>
                <string>{225,20}</string>
            </dict>
            <key>uiroom_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>uiroom_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,164},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{78,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>uiroom_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,334},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{74,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>uiroom_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,418},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>uiroom_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,440},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>uiroom_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{142,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,30}}</string>
                <key>sourceSize</key>
                <string>{142,30}</string>
            </dict>
            <key>uiroom_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,94},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>uiroom_shouchar.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,418},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>uiroom_shousp.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,418},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>uiroom_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,250},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sroom.png</string>
            <key>size</key>
            <string>{510,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acb9778f9bc0b8cb1e7edaeee131b74e:1/1$</string>
            <key>textureFileName</key>
            <string>sroom.png</string>
        </dict>
    </dict>
</plist>
