<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,430},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>emoji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,227},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>emoji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,307},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>emoji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,104},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>emoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,429},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>emoji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,368},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>emoji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,369},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>emoji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,453},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>emoji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,427},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>emoji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,307},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>emoji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>emoji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,368},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>emoji_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,265},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>emoji_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,491},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>talk_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,265},{74,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{74,102}</string>
            </dict>
            <key>talk_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>talk_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>talk_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>talk_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,50}}</string>
                <key>sourceSize</key>
                <string>{220,50}</string>
            </dict>
            <key>talk_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{220,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,48}}</string>
                <key>sourceSize</key>
                <string>{220,48}</string>
            </dict>
            <key>talk_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{192,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,6}}</string>
                <key>sourceSize</key>
                <string>{192,6}</string>
            </dict>
            <key>talk_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{191,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,57}}</string>
                <key>sourceSize</key>
                <string>{191,57}</string>
            </dict>
            <key>talk_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,369},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talk.png</string>
            <key>size</key>
            <string>{252,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa643128061184fabfa552537580fd50:1/1$</string>
            <key>textureFileName</key>
            <string>talk.png</string>
        </dict>
    </dict>
</plist>
