<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_bei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,106},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,110},{16,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,138},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_bei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,138},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,138},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,144},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,144},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,110},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,144},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,136},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,136},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,136},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>num_yuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,136},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>ui_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{64,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>uibom_baobtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,100},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>uibom_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{34,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>uibom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,36}}</string>
                <key>sourceSize</key>
                <string>{450,36}</string>
            </dict>
            <key>uibom_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,78},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>uitop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{422,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,58}}</string>
                <key>sourceSize</key>
                <string>{422,58}</string>
            </dict>
            <key>uitop_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,100},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{38,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,100},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,70},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,34},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{44,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,100},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{42,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_btn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,100},{36,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>uitop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,128},{26,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{26,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>uitop_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,100},{34,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,92}}</string>
                <key>sourceSize</key>
                <string>{34,92}</string>
            </dict>
            <key>uitop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,138},{26,22}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{26,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiAll.png</string>
            <key>size</key>
            <string>{500,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c474b47c1720b5c4b9304ba103ef82a:1/1$</string>
            <key>textureFileName</key>
            <string>uiAll.png</string>
        </dict>
    </dict>
</plist>
